{{ define "main" }}

{{ partial "components/contact-form.html" (dict
  "background" "c-band--purple"
  "title" "Contact Us"
  "level" "h1"
  "intro" .Params.intro
  "action" .Params.form_action
  "email" .Params.contact_email
) }}

{{ partial "components/social.html" (dict
  "background" "c-band--green"
  "id" "connect"
  "title" "Connect with Us"
  "intro" .Params.connect_text
  "linkedin" site.Params.linkedin
  "instagram" site.Params.instagram
  "github" site.Params.github
) }}

{{ if and .Params.organization_name .Params.charity_id .Params.iban .Params.contact_email }}
{{ partial "components/prose.html" (dict
  "background" "c-band--purple"
  "title" "Organization Details"
  "intro" .Params.organization_name
  "body" (printf "[%s](mailto:%s)\n\n**IBAN:** %s  \n**UID:** %s" .Params.contact_email .Params.contact_email .Params.iban .Params.charity_id)
) }}
{{ end }}

{{ end }}
